/* Font for Logo */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
/* font-family: 'Lobster Two', cursive;*/

/* Body */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
/* font-family: 'Titillium Web', sans-serif; */

/* Universal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-row{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* The webpage */
header{
    font-family: 'Pacifico', cursive;
    background-color: #32292F;
    color: white;
    height: 100px;
}

.line{
    height: 3px;
    border: none;
    background-color: #727368;
    width: 250px;
    margin-top: 5px;
}

body{
    background: #32292F;
}

/* First Section */
#showcase{
    /* padding: 15px; */
    height: 60vh;
    font-family:'Lobster Two', cursive;;
    color: #B1BDA1;
}

#showcase img{
    padding-right: 15px;
    width: 225px;
    float: right;
    /* padding-right: 15px; */
}

#showcase .text{
    float: left;
    padding: 10px 5px 0 15px;
    
}

#showcase .text h1{
    font-size: 20px;
    text-align: right;
}

#showcase .position-showcase{
    margin-top: 50%;
}


#profile{
    background-color: #727368;
}