/* Font for Logo */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
/* font-family: 'Lobster Two', cursive;*/

/* Body */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
/* font-family: 'Titillium Web', sans-serif; */

/* Universal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-row{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* The webpage */
header{
    font-family: 'Pacifico', cursive;
    background-color: #32292F;
    color: white;
    height: 100px;
    /* Header should be stationary */
    position: sticky;
}

.line{
    height: 3px;
    border: none;
    background-color: #727368;
    width: 250px;
    margin-top: 5px;
}

body{
    background: #32292F;
}

/* First Section */
#showcase{
    /* padding: 15px; */
    height: 70vh;
    font-family:'Lobster Two', cursive;
    color: #B1BDA1;
}

#showcase img{
    padding-right: 15px;
    width: 225px;
    float: right;
    /* padding-right: 15px; */
}

#showcase .text{
    float: left;
    padding: 0 6px 0 15px;
}

#showcase .text h1{
    font-size: 20px;
    text-align: right;
}

#showcase h2{
    padding-top: 50px;
    text-align: center;
}

#showcase .position-showcase{
    margin-top: 40%;
}

/* Second Section */
#profile{
    background-color: #727368;
    min-height: 600px;
    width: 100vw;
}

#profile h3{
    font-family: 'Lobster Two', cursive;
    text-align: center;
    padding: 60px 0 15px 0;
    font-size: 20px;
    color: #B1BDA1;
}

#profile img{
    width: 75%;
    border: 2px solid #B1BDA1;
    border-radius: 15px;
    margin-bottom: 10px;
}

#profile p{
    padding: 0 50px 0 60px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #B1BDA1;
    text-align: center;
    margin-bottom: 25px;

}

.button{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #B1BDA1;
    background-color: #727368;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #B1BDA1;
}


/* section 3 */
#project h2{
    text-align: center;
    padding: 100px 0px 100px 0px;
    font-family:'Lobster Two', cursive;
    color: #CDCAC7;
}