/* Font for Logo */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
/* font-family: 'Lobster Two', cursive;*/

/* Body */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
/* font-family: 'Titillium Web', sans-serif; */

/* Universal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;
    /* scroll-behavior: smooth; */
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-row{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* The webpage */
header{
    font-family: 'Pacifico', cursive;
    background-color: #32292F;
    color: white;
    height: 100px;
    /* Header should be stationary */
    position: sticky;
}

.line{
    height: 3px;
    border: none;
    background-color: #727368;
    width: 250px;
    margin-top: 5px;
}

body{
    background: #32292F;
}

/* First Section */
#showcase{
    /* padding: 15px; */
    /* height: 70vh; */
    font-family:'Lobster Two', cursive;
    color: #B1BDA1;
}

#showcase img{
    padding-right: 15px;
    width: 225px;
    float: right;
    /* padding-right: 15px; */
}

#showcase .text{
    float: left;
    padding: 0 6px 0 15px;
}

#showcase .text h1{
    font-size: 20px;
    text-align: right;
}

#showcase h2{
    padding: 50px 10px 50px 10px;
    text-align: center;
}

#showcase .position-showcase{
    margin-top: 40%;
}

/* Second Section */
#profile{
    background-color: #727368;
    min-height: 600px;
    width: 100vw;
}

#profile h3{
    font-family: 'Lobster Two', cursive;
    text-align: center;
    padding: 60px 0 15px 0;
    font-size: 20px;
    color: #B1BDA1;
}

#profile img{
    width: 75%;
    border: 3px solid #B1BDA1;
    border-radius: 15px;
    margin-bottom: 10px;
}

#profile p{
    padding: 0 50px 0 60px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #B1BDA1;
    text-align: center;
    margin-bottom: 25px;

}

.button{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #B1BDA1;
    background-color: #727368;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #B1BDA1;
}

.button2{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #B1BDA1;
    background-color: #32292F;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #B1BDA1;
}


/* section 3 */
#project h2{
    text-align: center;
    padding: 100px 0px 100px 0px;
    font-family:'Lobster Two', cursive;
    color: #CDCAC7;
}

#project img{
    width: 295px;
}

/* Template 1 */

#project .template1{
    background-color: #B1BDA1;
    min-height: 400px;
    color: #32292F;
}

#project .template1 img{
    border: 3px solid #32292F;
    margin-top: 70px;
    border-radius: 15px;
    
}

#project .template1 p{
    padding: 25px 45px 65px 45px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 400px;
    
}
    
/* Tempalate 2 */

#project .template2{
    background-color: #32292F;
    min-height: 400px;
    color: #B1BDA1;
}

#project .template2 img{
    border: 3px solid #32292F;
    margin-top: 70px;
    border-radius: 15px;
    
}

#project .template2 p{
    padding: 25px 45px 65px 45px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 400px;
    
}

/* cta */

#cta{margin: 10px;
    background: #32292F;
    min-height: 200px;
    padding-top: 75px;
}

/* Footer */
footer{
    width: 100%;
    padding: 60px;
    min-height: 100px;
    background: #CDCAC7;
}
.icons a img{
    width: 25px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li{
    list-style-type: none;
    padding-right: 10px;
}

footer p{
    text-align: center;
    font-family:  'Titillium Web', sans-serif;
    font-weight: 600;
    padding: 15px;
    
}